[Unit]
Description=The Golang HTTP server
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/httpd/httpd
ExecReload=/opt/httpd/httpd -s reload

[Install]
WantedBy=multi-user.target
